stages_newsletter/🛜 Daily Notification on Latest Job Offers 🛜.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4",
          "mode": "list",
          "cachedResultName": "Offres emplois n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Base des offres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $('Wait').item.json.link }}",
            "title": "={{ $('Wait').item.json.title }}",
            "snippet": "={{ $('Wait').item.json.snippet }}",
            "date": "={{ $('Wait').item.json.date }}",
            "source": "={{ $('Wait').item.json.source }}",
            "Date ajout": "={{\n  (() => {\n    const formatter = new Intl.DateTimeFormat('fr-FR', {\n      timeZone: 'Europe/Paris',\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit',\n      second: '2-digit',\n      hour12: false\n    });\n\n    const parts = formatter.formatToParts(new Date());\n    const get = type => parts.find(p => p.type === type)?.value;\n\n    return `${get('day')}/${get('month')}/${get('year')} ${get('hour')}:${get('minute')}:${get('second')}`;\n  })()\n}}\n\n",
            "Com mail": "Non envoyé",
            "snippet_highlighted_words": "={{ $('Wait').item.json.snippet_highlighted_words.join(', ') }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "Date ajout",
              "displayName": "Date ajout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snippet_highlighted_words",
              "displayName": "snippet_highlighted_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Com mail",
              "displayName": "Com mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Postuler",
              "displayName": "Postuler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        608
      ],
      "id": "74281373-5540-4a6a-b65d-940e98db3091",
      "name": "Append or update row in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kplIavU6Ix016UIY",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        400
      ],
      "id": "b61bef6a-c5f6-4209-a8ac-e9ea1b631ebe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        480
      ],
      "id": "c6392875-26aa-4780-b3eb-1f85aa765a01",
      "name": "Wait",
      "webhookId": "829fa4d7-f84a-4666-9479-84d1d5fba097"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e12da2d1-d6a8-4ca4-9bc6-cdf1508a18bd",
              "name": "dork",
              "value": "( intitle:(stage OR internship OR intern OR stagiaire OR \"fin d'études\" OR \"fin d'étude\" OR \"end of studies\")\n  AND ( intitle:(M&A OR \"Transaction Services\" OR \"Fusions et Acquisitions\" OR valuation OR \"project finance\" OR \"Financial analyst\")\n        OR inurl:(transaction-services OR mergers-acquisitions OR fusions-acquisitions OR valuation OR project-finance OR financial-analyst) )\n)\nAND intext:(\"6 mois\" OR \"6 months\" OR \"six months\")\n\n-intext:2020 -intext:2021 -intext:2022 -intext:2023 -intext:2024\n-intitle:2020 -intitle:2021 -intitle:2022 -intitle:2023 -intitle:2024\n-inurl:2020 -inurl:2021 -inurl:2022 -inurl:2023 -inurl:2024\n\n-intitle:(product OR marketing OR développeur OR developpeur OR developer OR ingénieur OR engineer OR digital OR quantitatif OR quant OR scientifique OR design OR stratégie OR strategist OR audit OR legal OR law OR lawyer OR juriste OR avocat OR compliance OR réglementation OR prudentielle OR apprentissage)\n-intext:(product OR marketing OR développeur OR developpeur OR developer OR ingénieur OR engineer OR digital OR quantitatif OR quant OR scientifique OR design OR stratégie OR strategist OR audit OR legal OR law OR lawyer OR juriste OR avocat OR compliance OR réglementation OR prudentielle OR apprentissage)\n-inurl:(product OR marketing OR développeur OR developpeur OR developer OR ingénieur OR engineer OR digital OR quantitatif OR quant OR scientifique OR design OR stratégie OR strategist OR audit OR legal OR law OR lawyer OR juriste OR avocat OR compliance OR réglementation OR prudentielle OR apprentissage)\n\n-intext:(Tax OR Taxes OR Legal OR Law OR Lawyer OR Juriste OR Avocat OR IT OR Tech OR remote OR télétravail)\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        400
      ],
      "id": "390f6fd7-83aa-4b0b-b0ba-bd8351e9a5db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        736
      ],
      "id": "3b418f6e-60a7-4c12-b378-af05d1b13d4e",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:welcometothejungle.com/fr/companies {{ $json.dork }}"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "30"
            },
            {
              "name": "hl",
              "value": "fr"
            },
            {
              "name": "gl",
              "value": "fr"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "Location",
              "value": "France"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        736
      ],
      "id": "1df7b218-c8d8-48b1-81c2-74c4e5dbe57a",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        -32
      ],
      "id": "6c0c3782-9973-4a45-aef2-29b6855c8393",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:sainoo.com/ {{ $json.dork }}"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "30"
            },
            {
              "name": "hl",
              "value": "fr"
            },
            {
              "name": "gl",
              "value": "fr"
            },
            {
              "name": "Location",
              "value": "France"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        -32
      ],
      "id": "08643427-0e08-4fdc-9883-5102c756ad43",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:fr.indeed.com/viewjob {{ $json.dork }}"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "30"
            },
            {
              "name": "hl",
              "value": "fr"
            },
            {
              "name": "gl",
              "value": "fr"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "Location",
              "value": "France"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        160
      ],
      "id": "92673379-4ace-4f21-8acb-7859aa7ee53d",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        160
      ],
      "id": "ae80718e-fa44-4b1e-b383-3450544a11b2",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:jobteaser.com/fr/job-offers {{ $json.dork }}"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "30"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "hl",
              "value": "fr"
            },
            {
              "name": "gl",
              "value": "fr"
            },
            {
              "name": "Location",
              "value": "France"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        352
      ],
      "id": "6071587d-0d2f-4b59-8cb0-b603cc8a656d",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        352
      ],
      "id": "5c9fe1c6-9735-4504-a4ce-05940c116ca1",
      "name": "Split Out8"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:fr.linkedin.com/jobs/view {{ $json.dork }}"
            },
            {
              "name": "api_key"
            },
            {
              "name": "num",
              "value": "30"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "hl",
              "value": "fr"
            },
            {
              "name": "gl",
              "value": "fr"
            },
            {
              "name": "Location",
              "value": "France"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        544
      ],
      "id": "41b64a97-b92c-42d7-965c-972b23e8aa47",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        544
      ],
      "id": "1bceb44e-7497-419a-96ba-6b28cf93f0e2",
      "name": "Split Out9"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        304
      ],
      "id": "1b5de6b6-7adf-4f1c-a2d3-246f91d2331c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "link",
              "field2": "link"
            }
          ]
        },
        "options": {
          "skipFields": "title, position, row_number, snippet, redirect_link, favicon, displayed_link, date, source, snippet_highlighted_words"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        336,
        576
      ],
      "id": "ae64aff9-de66-44a1-b96c-7ad18d501ede",
      "name": "Compare Datasets1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4",
          "mode": "list",
          "cachedResultName": "Offres emplois n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Base des offres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        880
      ],
      "id": "9c95bbc8-4ebb-4b93-b118-097e1c32dc5b",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kplIavU6Ix016UIY",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici l'offre : \nTitre : {{ $json.title }}\nDescription : {{ $json.snippet }}",
        "options": {
          "systemMessage": "=## Role et objectif : \nTu es en charges de déterminer si cette offre de stage correspond à un stage en corporate finance (M&A, Transaction services, valuation, project finance etc...)\n\n## Consigne : \n- si un stage correspond à un stage en coporate finance, alors écris simplement \"Oui\"\n- si un stage se férère à tout autre stage (product, marketing, ingénieur, développeur etc), alors écris simplement \"Non\"\n\n## Contraintes et limitations\nNe répond que par oui ou par non. \nSi tu ne sais pas répond par oui par défaut. \nSi le champ est vide, répond par oui.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        608
      ],
      "id": "42200570-4e2b-4940-9ed6-5eb86f8354a1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        768
      ],
      "id": "63a9b9a2-1852-4fa0-9bb0-dd401a85f4b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TsGxZRireGn8g6QN",
          "name": "Google Gemini(PaLM) Api account Louis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Oui",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "66462317-08bc-4e91-937c-bb634392d8a4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Oui"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e897beb2-2fa4-46e3-ae2e-3eb63f4df375",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Non",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Non"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1136,
        608
      ],
      "id": "ce2cae9e-b4ad-4c9c-812c-1b98f4b3f028",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Job offers scrapping\nSet to Daily Activation\nWebsites to search : \n- linkedin\n- sainoo\n- welcometothejungle\n- indeed\n- job teaser\n",
        "height": 240,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        288
      ],
      "typeVersion": 1,
      "id": "99657e81-dfc3-44e9-a224-13024c69d1cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google Dork\nHere we write our google dork to limit and precise the number of job offers to be returned",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        240
      ],
      "typeVersion": 1,
      "id": "b9f907c2-b21c-422a-9d90-b38ac8482d87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## SerpAPI\nWe use SerpAPI tool which enables us to retrieve structured information from a google web request\n\nSee: https://serpapi.com",
        "height": 256,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -160
      ],
      "typeVersion": 1,
      "id": "0e0e5067-d466-4415-a581-ead1cdc2d0ad",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Database\nWe read our database of job offers, and keep only the new ones for further processing",
        "height": 784,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        208
      ],
      "typeVersion": 1,
      "id": "89fda575-8c37-44c6-8b14-b7f43ec014eb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AI Agent\nThis AI agent will confirm that each job offer matches our criteria (yes/no)",
        "height": 480,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        416
      ],
      "typeVersion": 1,
      "id": "19fce3fa-0dd1-479a-8f44-f9fc9aebb2fe",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Update of the database and trigger of next workflow for notification",
        "height": 480,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        416
      ],
      "typeVersion": 1,
      "id": "481000fc-fba6-48da-a9b0-0b1472fc8ff1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ASPeDfPFDgXLvGwH",
          "mode": "list",
          "cachedResultUrl": "/workflow/ASPeDfPFDgXLvGwH",
          "cachedResultName": "copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1584,
        608
      ],
      "id": "82ec6d0c-fe99-4abc-bafc-8a5a1225597f",
      "name": "Call 'copy'",
      "executeOnce": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        1248
      ],
      "id": "bea15535-54e9-4c9d-a9d5-390682bce061",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Executes when the previous is over\n- Gets the newly added mail sonly\n- Aggregates them into 1 item\n- Send an email with the weblinks\n- Updates the database items to \"sent\"",
        "height": 240,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        1136
      ],
      "typeVersion": 1,
      "id": "7b96e137-be19-4b0e-9b3c-5f02e22431a7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "toRecipients": "=Louis.delahaye@hotmail.fr",
        "subject": "🦈 Les offres de stages du jour 🦈",
        "bodyContent": "={{ $json.html }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        64,
        1152
      ],
      "id": "ee22cb2f-54b1-4345-a955-795be6df8bcd",
      "name": "Send a message",
      "webhookId": "f4f1cca8-7d1b-48c0-adf4-72489ad69dec",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "VXNsvvPTaEUolGT4",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -384,
        1152
      ],
      "id": "106737a7-ad45-4920-b3e1-adae4ca69d45",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node – VERSION SIMPLE : Titre + URL + Source + Date\nconst jobs = items.map(item => {\n  const {\n    title = '',\n    link = '',\n    source = '',\n    date = ''\n  } = item.json;\n\n  const parts = [title];\n  if (source) parts.push(source);\n  if (date) parts.push(date);\n\n  return `<p><a href=\"${link}\" target=\"_blank\">${title}</a><br>${source ? `- ${source}` : ''}${source && date ? ' ' : ''}${date ? `- ${date}` : ''}</p>`;\n}).join('\\n');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Offres de Stage</title>\n</head>\n<body>\n${jobs}\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1152
      ],
      "id": "80166eb4-c5e6-4267-b896-7b1d37ab02db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4",
          "mode": "list",
          "cachedResultName": "Offres emplois n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Base des offres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $json.link }}",
            "Com mail": "Envoyé"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "Date ajout",
              "displayName": "Date ajout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snippet_highlighted_words",
              "displayName": "snippet_highlighted_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Com mail",
              "displayName": "Com mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postuler",
              "displayName": "Postuler",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        1344
      ],
      "id": "38ef1e85-1243-40fb-be36-5f26b93bb8eb",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kplIavU6Ix016UIY",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4",
          "mode": "list",
          "cachedResultName": "Offres emplois n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Base des offres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ayl5KUiHmE241UfiGZ5CfeISXIoq6Ya4pkro89TT4d4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Com mail",
              "lookupValue": "Non envoyé"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -608,
        1248
      ],
      "id": "13cb4159-2de9-4f4b-821b-32632a646c29",
      "name": "Get row(s) in sheet3",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kplIavU6Ix016UIY",
          "name": "Google Sheets account Louis"
        }
      }
    }
  ],
  "connections": {
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Call 'copy'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2025-10-16T07:00:45.055+02:00",
        "Readable date": "October 16th 2025, 7:00:45 am",
        "Readable time": "7:00:45 am",
        "Day of week": "Thursday",
        "Year": "2025",
        "Month": "October",
        "Day of month": "16",
        "Hour": "07",
        "Minute": "00",
        "Second": "45",
        "Timezone": "Europe/Paris (UTC+02:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca66bfe20538326afcf0ea9818c4e437640a050446b589da002699d11b2eea7"
  }
}
